<a href="https://colab.research.google.com/github/nehal-sharma/BasicPython/blob/main/distribute_lab0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 0: Basic Python, Functions, Lists, Strings, and Files

In [1]:
!git init; git pull https://github.com/nehal-sharma/BasicPython.git

Initialized empty Git repository in /content/.git/
remote: Enumerating objects: 109, done.
remote: Total 109 (delta 0), reused 0 (delta 0), pack-reused 109
Receiving objects: 100% (109/109), 6.24 MiB | 27.52 MiB/s, done.
Resolving deltas: 100% (21/21), done.
From https://github.com/nehal-sharma/BasicPython
 * branch            HEAD       -> FETCH_HEAD

In [2]:
!ls

classes.ipynb		    distribute_lab1.ipynb	lab0.ipynb
classes.slides.dir	    functions.ipynb		lab1.ipynb
data			    functions.slides.dir	listiness.ipynb
data_structures.ipynb	    getting_started.ipynb	listiness.slides.dir
data_structures.slides.dir  getting_started.slides.dir	README.md
distribute_lab0.ipynb	    images			sample_data

## EXERCISE 1: A Simple Calculator

Here is a fun little calculator which exercises what you have learnt so far.

It has only 4 operations - Addition, Subtraction, Multiplication and Divison

Notice the use of no-operation `pass`. It allows us to incrementally code by doing nothing to start, and put in functionality over time.

In [ ]:
print("Select operation\n")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")

# Something NEW: Take input from the user 
choice = input("\nEnter choice(1/2/3/4): ")

# We convert the input to a floating-pount(or real) number.

num1 = float(input("\nEnter first number: "))
num2 = float(input("\nEnter second number: "))

if choice == '1':
    # your code here

## EXERCISE 2: List like objects and functions on them

Materialize lists using 

1. `range(50)`
2. The function application `enumerate(list of alphabets)`
3. Write your own enumerate function for a list using the function `zip`.

In [43]:
# your code here
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [48]:
# your code here
import string
for char in enumerate(string.ascii_letters):
  print(char)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')
(10, 'k')
(11, 'l')
(12, 'm')
(13, 'n')
(14, 'o')
(15, 'p')
(16, 'q')
(17, 'r')
(18, 's')
(19, 't')
(20, 'u')
(21, 'v')
(22, 'w')
(23, 'x')
(24, 'y')
(25, 'z')
(26, 'A')
(27, 'B')
(28, 'C')
(29, 'D')
(30, 'E')
(31, 'F')
(32, 'G')
(33, 'H')
(34, 'I')
(35, 'J')
(36, 'K')
(37, 'L')
(38, 'M')
(39, 'N')
(40, 'O')
(41, 'P')
(42, 'Q')
(43, 'R')
(44, 'S')
(45, 'T')
(46, 'U')
(47, 'V')
(48, 'W')
(49, 'X')
(50, 'Y')
(51, 'Z')

In [52]:
# your code here
nums = list(range(26))
chars = list(string.ascii_lowercase)
x = zip(nums, chars)
print(list(x))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g'), (7, 'h'), (8, 'i'), (9, 'j'), (10, 'k'), (11, 'l'), (12, 'm'), (13, 'n'), (14, 'o'), (15, 'p'), (16, 'q'), (17, 'r'), (18, 's'), (19, 't'), (20, 'u'), (21, 'v'), (22, 'w'), (23, 'x'), (24, 'y'), (25, 'z')]

## EXERCISE 3: Count the special characters

Consider the string "HelloWorld,123,ThisIsUniv.Ai" (not including the quotes). Find the number of uppercase, lowercase, special character and numerical characters.

In [ ]:
my_string = "HelloWorld,123,ThisIsUniv.Ai"
# your code here

In [ ]:
counter(string.ascii_uppercase, my_string),counter(string.ascii_lowercase, my_string),counter(string.digits, my_string),counter(string.punctuation, my_string)

## EXERCISE 4: Read a file and parse words from it

Read Julius Caesar. Get each line. Remove newline characters from each line. Split the line to get the words from the line. Lowercase them. Print the first 1000 words, lowercased.

In [54]:
# your code here

wordslist=[]
fd =open('data/Julius Caesar.txt')
for line in fd:
  line.strip()
  [wordslist.append(x) for x in line.split()]
fd.close()
wordslist = [x.lower() for x in wordslist]
print(len(wordslist) , type(wordslist))
wordslist[:10]

21014 <class 'list'>

['the',
 'tragedy',
 'of',
 'julius',
 'caesar',
 'by',
 'william',
 'shakespeare',
 'contents',
 'act']